<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"></customErrors>
  </system.web>
  <appSettings>

    <!-- This is mandatory key, which will point to the file, which is used by application to update
         football votes.
         example: value="~\\csharpapp\\sms\\app2\\tally\\tally1.txt"-->
    <add key="FootBallFilePath" value =""/>

    <!-- This is mandatory key, which will point to the file, which is used by application to update
         baseball votes.
         example: value="~\\csharpapp\\sms\\app2\\tally\\tally2.txt"-->
    <add key="BaseBallFilePath" value =""/>

    <!-- This is mandatory key, which will point to the file, which is used by application to update
         basketball votes.
         example: value="~\\csharpapp\\sms\\app2\\tally\\tally3.txt"-->
    <add key="BasketBallFilePath" value =""/>

    <!-- This is mandatory key, which will specify the shortcode of the registered application
         example: value="80712557"-->
    <add key="ShortCode" value =""/>
    
  </appSettings>
</configuration>