<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"></customErrors>
  </system.web>
  <appSettings>

    <!-- This is mandatory key and value should be equal
         to  SMS Service registered application 'API key'
         example: value="2726942c798aaaaa4bd3625d95cc7355"-->
    <add key="api_key" value=""/>

    <!-- This is mandatory key and value should be equal
         to  SMS Service registered application 'Secret key'
         example: value="5fb012657aaa6c7d"-->
    <add key="secret_key" value=""/>

    <!-- This is mandatory key and value should be equal
         to  SMS Service registered application 'short code'
         example: value="80750000" -->
    <add key="short_code" value=""/>

    <!-- This is mandatory key and value should be equal
         to  https://api.att.com for production environment
         example: value="https://api.att.com"-->
    <add key="FQDN" value=""></add>

    <!-- This is optional key and if you want to define, then the value should be equal
         to  "SMS"
         example: value="SMS"-->
    <add key="scope" value=""/>

    <!-- This is optional key, which points to the file path, and application uses this key's value to create/update 
         the file with access token information, so, make sure to give write access to the folder defined.
         If the key is not defined, SMSApp2AccessToken.txt will be created at root folder, so, make sure to give
         write access to the root folder
         example: value="~\\csharpapps\\sms\\app2\\SMSApp2AccessToken.txt" -->
    <add key="AccessTokenFilePath" value =""/>

    <!-- This is mandatory key, which will point to the file, which is used by application to update
         football votes.
         example: value="~\\csharpapp\\sms\\app2\\tally\\tally1.txt"-->
    <add key="FootBallFilePath" value =""/>

    <!-- This is mandatory key, which will point to the file, which is used by application to update
         baseball votes.
         example: value="~\\csharpapp\\sms\\app2\\tally\\tally2.txt"-->
    <add key="BaseBallFilePath" value =""/>

    <!-- This is mandatory key, which will point to the file, which is used by application to update
         basketball votes.
         example: value="~\\csharpapp\\sms\\app2\\tally\\tally3.txt"-->
    <add key="BasketBallFilePath" value =""/>
    
  </appSettings>
</configuration>