<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"></customErrors>
  </system.web>
  <appSettings>

    <!-- This is mandatory key and value should be equal
         to  MMS Service registered application 'short code'
         example: value="80750000" -->
    <add key="short_code" value=""/>

    <!-- This is mandatory key and value should point to the directory where mms listener saves images.
         example: value="~\\csharpapps\\mms\\app3\\MoImages\\"-->
    <add key="ImageDirectory" value=""/>

    <!-- This is optional key, which defines the number of images to be displayed, if this key is not defined,
         by default latest 10 images will be displayed 
         example: value="15"-->
    <add key="NumOfFilesToDisplay" value=""/>
    
  </appSettings>
</configuration>