<?xml version="1.0"?>
<!-- For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433 -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"></customErrors>
  </system.web>
  <appSettings>
    <!-- This is mandatory parameter, set the value as per your registered appliaction
    'API key' field value. -->
    <add key="api_key" value=""/>

    <!-- This is mandatory parameter, set the value as per your registered appliaction
    'Secret key' field value. -->
    <add key="secret_key" value=""/>

    <!-- This is mandatory parameter, set it to the end point URI of AT&T Service. -->
    <add key="FQDN" value=""></add>

    <!-- Scope of the ATT service that will be invoked by the Application -->
    <add key="scope" value="SPEECH"/>

    <!-- This is optional parameter, which points to the file path, where application 
    stores access token information. If the parameter is not configured, it will take 
    the default value as ~\\SpeechApp1AccessToken.txt)
	  example: value="~\\<SpeechAppPath>\\SpeechApp1AccessToken.txt" -->
    <add key="AccessTokenFilePath" value =""/>

    <!-- This is optional parameter, which points to the default wav file, which will 
    act as a sample to show speech conversion when user has not selected any wave file 
    using Browse button.
	  example: value="~\\<SpeechAppPath>\\default.wav" -->
    <add key="DefaultFile" value =""/>

    <!-- This is optional key, which specifies the expiry time of refresh token in Hrs. Default value is 24Hrs.
         example: value="24"-->
    <add key="refreshTokenExpiresIn" value=""/>
    
  </appSettings>
</configuration>
