<?xml version="1.0"?>

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime maxQueryStringLength = "12288" maxRequestLength="12288"/>
    <customErrors mode="Off"></customErrors>
  </system.web>
  <appSettings>
    <!-- This is mandatory key and value should be equal
         to  PAYMENT Service registered application 'API key'
         example: value="f4472056c599cb3f26j645bee587fa5af"
     -->
    <add key="api_key" value=""/>

    <!-- This is mandatory key and value should be equal
         to  PAYMENT Service registered application 'Secret key'
         example: value="4df013c3c88a30165"-->
    <add key="secret_key" value=""/>

    <!-- This is mandatory key and value should be equal
         to  https://api.att.com for production environment-->
    <add key="endPoint" value=""></add>

    <!-- This is optional key and value should be equal
         to  "PAYMENT"
         example: value="PAYMENT"-->
    <add key="scope" value=""/>

    <!-- This is mandatory key and has to be one of the value 1,3,4,5
         example: value="3"-->
    <add key="Category" value=""/>
    <!--2 is not a valid value -->

    <!-- This is optional key and if you want to define, define only as MOBILE_WEB
         example: value="MOBILE_WEB"-->
    <add key ="Channel" value=""/>

    <!-- This is optional key, which points to the file path, and application uses this key's value to create/update 
         the file with access token information, so, make sure to give write access to the folder defined.
         If the key is not defined, PayApp2AccessToken.txt will be created at root folder, so, make sure to give
         write access to the root folder
         example: value="~\\csharpapps\\payment\\app2\\PayApp2AccessToken.txt"
         -->
    <add key="AccessTokenFilePath" value =""/>

    <!-- This is optional key, which points to the file path, and listener application uses this to store the notification details
         example: value="~\\csharpapps\\payment\\app2\\listener\\notificationDetailsFile.txt"
         -->
    <add key="notificationDetailsFile" value =""/>

    <!-- This is mandatory parameter and this will be your application url
         example: value="http://IIS_Server/csharpapps/payment/app2/Default.aspx"    
-->
    <add key ="MerchantPaymentRedirectUrl" value =""/>
    <!-- This is optional key and if you want to define, define only as false
         example: value="false"-->
    <add key ="IsPurchaseOnNoActiveSubscription" value =""/>
    <!-- always false -->

    <!-- This is optional key and if you want to define, define only as 9999
         example: value="9999"-->
    <add key ="SubscriptionRecurringNumber" value =""/>

    <!-- This is optional key and if you want to define, define only as MONTHLY
         example: value="MONTHLY"-->
    <add key ="SubscriptionRecurringPeriod" value =""/>

    <!-- This is optional key and if you want to define, define only as 1
         example: value="1"-->
    <add key ="SubscriptionRecurringPeriodAmount" value =""/>

        <!-- This is mandatory parameter and this will be your application url
         example: value="http://IIS_Server/csharpapps/notary/app1/Default.aspx"    
		This is used for notary app-->
    <add key ="notaryURL" value =""/>

    <!-- This is optional key, which points to the file path, and application uses this key's value to create/update 
         the file with transactions id information, so, make sure to give write access to the folder defined.
         If the key is not defined, refundFile.txt will be created at root folder, so, make sure to give
         write access to the root folder
         example: value="~\\csharpapps\\payment\\app\\subsDetailsFile.txt"
         -->
    <add key="subsDetailsFile" value =""/>
    
    <!-- This is optional key, which points to the file path, and application uses this key's value to create/update 
         the file with subscription information, so, make sure to give write access to the folder defined.
         If the key is not defined, subsDetailsFile.txt will be created at root folder, so, make sure to give
         write access to the root folder
         example: value="~\\csharpapps\\payment\\app2\\subsDetailsFile.txt"
         -->
    <add key="subsRefundFile" value =""/>

    <!-- This is optional key, which will allow to display the defined number of transactions for refund table, default is 5
         example: value="100"-->
    <add key="subsDetailsCountToDisplay" value=""/>

    <!-- This is optional key, which specifies the expiry time of refresh token in Hrs. Default value is 24Hrs.
         example: value="24"-->
    <add key="refreshTokenExpiresIn" value=""/>

    <!-- This is optional key, which will allow to display the defined number of notifications, default is 5
         example: value="100"-->
    <add key="noOfNotificationsToDisplay" value=""/>
    
    <!-- This is optional key, which will allow to display the defined number of notifications, default is 5
         example: value="~\\UAT\\Csharp-RESTful\\payment\\app1\\notificationDetailsFile.txt"-->
    <add key="notificationDetailsFile" value =""/>
    
  </appSettings>
</configuration>
