<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"></customErrors>
  </system.web>
  <appSettings>

    <!-- This is mandatory key and value should be equal
         to  MMS Service registered application 'API key'
         example: value="46257ab0180b092byy976767f7acffc584ee"-->
    <add key="api_key" value=""/>

    <!-- This is mandatory key and value should be equal
         to  MMS Service registered application 'Secret key'
         example: value="006bef46545f8657d1b"-->
    <add key="secret_key" value=""/>

    <!-- This is mandatory key and value should be equal
         to  MMS Service registered application 'short code'
         example: value="807560000" -->
    <add key="short_code" value=""/>

    <!-- This is mandatory key and value should be equal
         to  https://api.att.com for production environment or 
         https://api-uat.san1.attcompute.com for uat environment
         example: value="https://api-uat.san1.attcompute.com"-->
    <add key="endPoint" value=""></add>

    <!-- This is optional key and if you want to define, then the value should be equal
         to  "MMS"
         example: value="MMS"-->
    <add key="scope" value=""/>

    <!-- This is optional key, which points to the file path, and application uses this key's value to create/update 
         the file with access token information, so, make sure to give write access to the folder defined.
         If the key is not defined, MMSApp2AccessToken.txt will be created at root folder, so, make sure to give
         write access to the root folder
         example: value="MMSApp2AccessToken.txt"
         -->   
    <add key="AccessTokenFilePath" value =""/>

    <!-- This is mandatory key, which will point to the file which contains text message to be sent with mms
         example: value="\\coupon_info\\message.txt"-->
    <add key="messageFilePath" value =""/>

    <!-- This is mandatory key, which will point to the file which contains list of phone numbers supported by commas.
         example: value="coupon_info\\phone.txt" -->
    <add key="phoneListFilePath" value =""/>

    <!-- This is mandatory key, which will point to the directory, which contains the image to be sent with mms
         example: value="coupon_info\\"-->
    <add key="couponPath" value =""/>

    <!-- This is mandatory key, which is the name of the image to be sent, make sure that the image exists in the 
         "couponPath" key directory
         example: value="coupon.jpg" -->
    <add key="couponFileName" value =""/>

    <!-- This is optional key, which specifies the expiry time of refresh token in Hrs. Default value is 24Hrs.
         example: value="24"-->
    <add key="refreshTokenExpiresIn" value=""/>
    
  </appSettings>
</configuration>