<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime maxQueryStringLength = "12288" maxRequestLength="12288"/>
    <customErrors mode="Off"></customErrors>
  </system.web>
  <appSettings>
    <!-- This is mandatory key and value should be equal
         to  PAYMENT Service registered application 'API key'
         example: value="6747238512dbc1874cd0fjdaa89628c95"-->
    <add key="api_key" value=""/>

    <!-- This is mandatory key and value should be equal
         to  PAYMENT Service registered application 'Secret key'
         example: value="c9cj45219cc8e6b01"-->
    <add key="secret_key" value=""/>

    <!-- This is mandatory key and value should be equal
         to  https://api.att.com for production environment or 
         https://api-uat.san1.attcompute.com for uat environment
         example: value="https://api-uat.san1.attcompute.com"-->
    <add key="FQDN" value=""></add>

    <!-- This is optional key and value should be equal
         to  "PAYMENT"
         example: value="PAYMENT"-->
    <add key="scope" value=""/>

    <!-- This is mandatory key and valid values are "subscription" or "transaction"
         example: value="transaction"-->
    <add key="paymentType" value=""/>

    <!-- This is mandatory key and has to be decimal format
         example: value="2.1"-->
    <add key="Amount" value=""/>
    <!-- any decimal number -->

    <!-- This is mandatory key and has to be one of the value 1,3,4,5
         example: value="3"-->
    <add key="Category" value=""/>
    <!--2 is not a valid value -->

    <!-- This is optional key and if you want to define, define only as MOBILE_WEB
         example: value="MOBILE_WEB"-->
    <add key ="Channel" value=""/>

    <!-- This is mandatory parameter and this will be your application url
         example: value="http://IIS_Server/csharpapps/notary/app1/Default.aspx"-->
    <add key ="MerchantPaymentRedirectUrl" value =""/>

    <!-- This is optional key and if you want to define, define only as false
         example: value="false"-->
    <add key ="IsPurchaseOnNoActiveSubscription" value =""/>
    <!-- always false -->

    <!-- This is optional key and if you want to define, define only as 9999
         example: value="9999"-->
    <add key ="SubscriptionRecurringNumber" value =""/>

    <!-- This is optional key and if you want to define, define only as MONTHLY
         example: value="MONTHLY"-->
    <add key ="SubscriptionRecurringPeriod" value =""/>

    <!-- This is optional key and if you want to define, define only as 1
         example: value="1"-->
    <add key ="SubscriptionRecurringPeriodAmount" value =""/>

  </appSettings>
</configuration>