<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"></customErrors>
  </system.web>
  <appSettings>

    <!-- This is mandatory parameter, set the value as per your registered application
         'API key' field value. -->
    <add key="api_key" value=""/>

    <!-- This is mandatory parameter, set the value as per your registered application
         'Secret key' field value. -->
    <add key="secret_key" value=""/>

    <!-- This is mandatory parameter, set it to the end point URI of AT&T Service. -->
    <add key="endPoint" value="" />

    <!-- Scope of the ATT service that will be invoked by the Application -->
    <add key="scope" value=""/>

    <!-- This is mandatory key and value should be equal
         to MOBO Service registered application 'OAuth Redirect URL'
         example: value="https://IIS-Server/webroot/mobo/app1/Default.aspx -->
    <add key="authorize_redirect_uri" value=""/>

    <!-- This is optional key, which specifies the expiry time of refresh token in Hrs. 
         Default value is 24Hrs.-->
    <add key="refreshTokenExpiresIn" value=""/>
    
    <!-- This is optional key specifying the maximum number of addresses, user can specify.
         Default value is 10-->
    <add key="max_addresses" value=""/>
    
  </appSettings>
</configuration>
